body {
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 22px;
	color: #283136;
	
}
.slider-heading {
	font-size: 36px;
	font-weight: bold;
	line-height: 36px;
	color: #000000;

}
.main-heading {
	font-size: 40px;
	font-weight: normal;
	line-height: 46px; 
	color: #000000;
}